 <!-- <div class="home-slider major-caousel owl-carousel mb-4" data-aos="fade-up" data-aos-delay="20">
              <div class="slider-item">
                <img src="{% static 'fullSite/image/slider-1.jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="{% static 'fullSite/image/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="{% static 'fullSite/image/slidered_3.jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="{% static 'fullSite/image/slider_5.jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="{% static 'fullSite/image/slider-6.jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="{% static 'fullSite/image/images(3).jpg' %}" alt="Image placeholder" class="img-fluid">
              </div>-->
            </div> 
            <!-- END slider -->